<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>vue入门</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    </head>
    <body>
        <div id="app">

            <div>
                <label>Id:
                    <input type="text" v-model="id"/>
                </label>

                <label>Name:
                    <input type="text" v-model="name"/>
                </label>

                <input type="button" value="添加" @click="add"/>
            </div>
            <p v-for="item in list" :key="item.id">
                <input type="checkbox"/> {{item.id}} ------ {{item.name}}
            </p>
        </div>
        <script src="../vue/js/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    id:"",
                    name:"",
                    list : [
                        {
                            id : 1,
                            name : '李斯'
                        },
                        {
                            id : 2,
                            name : '嬴政'
                        },
                        {
                            id : 3,
                            name : '赵高'
                        },
                        {
                            id : 4,
                            name : '韩非'
                        },
                        {
                            id : 5,
                            name : '荀子'
                        }
                    ]
                },
                methods: {
                    add(){
                        this.list.unshift({id:this.id,name:this.name})
                        this.id = ""
                        this.name = ""
                    }
                }
            })
        </script>
    </body>
</html>